<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Flask App - SEMAC 2023</title>
</head>
<body>
    <section class="hero is-fullheight" style="background-color: #0594f9;">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-start">
                            <a href="{{ url_for('main.index') }}">
                                <img src="/templates/assets/logo.svg" alt="Logo" style="width: 100px;">
                            </a>
                        </div>
                        <div class="navbar-end is-size-5" style="margin-top: 1rem;">
                            <a href="{{url_for('main.index')}}" class="navbar-item {% if request.endpoint == 'main.index' %}is-active{% endif %}">
                                Inicio
                            </a>
    
                            {% if current_user.is_authenticated %}
                                <a href="{{url_for('main.profile')}}" class="navbar-item {% if request.endpoint == 'main.profile' %}is-active{% endif %}">
                                    Perfil
                                </a>
                                
                                <a href="{{url_for('auth.logout')}}" class="navbar-item {% if request.endpoint == 'auth.logout' %}is-active{% endif %}">
                                    Sair
                                </a>

                                {% if current_user.name == 'admin' and current_user.email == 'admin@admin.com' %}
                                    <a href="{{url_for('auth.show_users')}}" class="navbar-item {% if request.endpoint == 'auth.show_users' %}is-active{% endif %}">
                                        Mostrar Usuarios
                                    </a>
    
                                    <a href="{{url_for('auth.delete_user')}}" class="navbar-item {% if request.endpoint == 'auth.delete_user' %}is-active{% endif %}">
                                        Deletar Usuarios
                                    </a>
                                {% endif %}
                            {% endif %}
    
                            {% if not current_user.is_autenticated %}
                                <a href="{{url_for('auth.login')}}" class="navbar-item {% if request.endpoint == 'auth.login' %}is-active{% endif %}">
                                    Login
                                </a>
                                
                                <a href="{{url_for('auth.signup')}}" class="navbar-item {% if request.endpoint == 'auth.signup' %}is-active{% endif %}">
                                    Cadastre-se
                                </a>
                            {% endif %}
    
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                {% block content %} {% endblock %}
            </div>
        </div>
    </section>
    
    

    <div id="userTable" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <h2 class="subtitle">User List</h2>
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in all_users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
</body>
</html>