{% extends "base.html" %}

{% block title %}Delete User Page{% endblock %}

{% block content %}
    <div class="container has-text-centered">
        <h2 class="title is-2">Deletar Usuario</h2>
        <form method="post" action="{{ url_for('auth.delete_user') }}" enctype="multipart/form-data" >
            {% if data['users'] %}
                <h2 class="title is-4">Lista de Usuarios</h2>
                <div class="table-container">
                    <table class="table is-bordered is-fullwidth">
                        <thead>
                            <tr>
                                <th class="has-text-centered">ID</th>
                                <th class="has-text-centered">Email</th>
                                <th class="has-text-centered">Name</th>
                                <th class="has-text-centered">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in data['users'] %}
                                <tr>
                                    <td>{{ user['id'] }}</td>
                                    <td>{{ user['email'] }}</td>
                                    <td>{{ user['name'] }}</td>
                                    <td>
                                        <input type="checkbox" name="users_to_delete[]" value="{{ user['id'] }}">
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="field has-addons is-centered">
                        <div class="control">
                            <button class="button is-danger" type="submit">Delete Selected Users</button>
                        </div>
                    </div>
                </div>
            {% else %}
                <h3 class="title is-3">Tabela de usuários vazia</h3>
            {% endif %}

        </form>
    </div>
{% endblock %}
