{% extends "base.html" %}

{% block content %}
    <h2 class="subtitle">User List</h2>
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for user in all_users %}
                <td>{{user.id}}</td>
                <td>{{user.email}}</td>
                <td>{{user.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}